@media only screen and (max-width: 550px) {
    .projectArticle{
        width: 335px !important;
    }
}
.projects{
    min-height: 91vh;
    width: 90%;
    margin: auto;

    .header{
        text-align: center;
        color: rgba(2, 87, 245, 1);
    }
    .projectsContainer{
        position: relative;
        top: 50px;
        .projectsText{
            h3{
                font-size: 26px;
            }

        }
        .projectsList{
                padding: 5px;
            &::-webkit-scrollbar{
                display: none;
            }

            mask-image: linear-gradient(
              to left,
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 0) 5%,
              rgba(0, 0, 0, 1) 5%,
              rgba(0, 0, 0, 1) 
            );
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            scroll-snap-align: center;
            overflow-x: scroll;
            list-style: none;
            display: flex;
            align-items: center;
            gap: 30px;
            a{
                color: black;
                text-decoration: none;
            }
            .projectArticle{
                box-shadow: 1px 1px 10px lightgrey;
                height: 420px;
                width: 350px;
                display: grid;
                grid-template-rows: 60% 40%;
                border-radius: 10px;

                .imageContainer{
                    border-radius: 10px 10px 0 0;
                    padding: 5px;
                    img{
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;
                    }
                }
                .projectsInfo{
                    display: grid;
                    grid-template-rows: 25% 50% 25%;
                    padding: 5px;

                    .langs, .links{
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        line-height: 1.4;
                    }
                    .langs{
                        width: 90%;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap; 
                        margin: auto;
                    }
                    .description{
                        font-size: 12px;
                        padding: 2px;
                    }
                    .languages{
                        font-size: 14px;
                        color: rgb(2, 87, 245, 1);
                        margin: 2.5px;
                    }
                    .links{
                        align-content: center;
                        .icon{
                            cursor: pointer;
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                        .viewDetails{
                            &:hover{
                                text-decoration: underline
                            }
                        }
                    }
                }
            }
        }
    }
}