.projectDetails{
    height: 90vh;
    display: grid;
    grid-template-rows: 30% 70%;
    padding: 10px;
}
.images{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img{
        height: 200px;
        max-width: 280px;
        border-radius: 15px;
        border: 3px solid silver;
    }
}

.details{
    margin: auto;
    width: 90%;
    height: 90%;
    display: grid;
    .detailsConflict{
        .conflicts{
            margin-bottom: 10px;
        }
    }
    div, h2{
        align-content: center;
    }
}
.screenShots{
    border: 1px solid black;
    height: 25%;
}