@media only screen and (max-width: 450px) {
    .skills{
        .skillList{
            border: 1px solid red;
            display: none !important;
            position: relative;
            left: 40px;
            width: 100%;
            padding: 0 0 25px 0;
            margin : 0;
        }
    }
}
.skills{
        padding: 80px 0;
        min-height: 500px;
        display: grid;

    .header{
        text-align: center;
        color: rgba(2, 87, 245, 1);
    }

    .skillsContainer{
        margin-left: 50px;
        height: 120%;

        .skillList{
            height: 65%;
            margin-left: -50px;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: space-evenly;
            align-items: center;
            li{
                min-width: 200px;
            }
            
            .listHead p{
                font-weight: 700;
                text-align: center;
            }
        }
        .subList{
            list-style: none;
            padding: 0;
            margin : 0;
            text-align: center;
            li{
                font-weight: 400 !important;
            }
        }
    }
}