@media only screen and (max-width: 450px) {
    .skills{
        .skillList{
        }
    }
}
.skills{
    min-height: 88vh;

    .header{
        text-align: center;
        color: rgba(2, 87, 245, 1);
    }

    .skillsContainer{
        width: 90%;
        margin: auto;

        .skillList{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 90%;
            margin: auto;
            gap: 10px;
            justify-content: space-evenly;
            li{
                min-width: 200px;
            }
            
            .listHead p{
                font-weight: 700;
                text-align: center;
            }
        }
        .subList{
            list-style: none;
            padding: 0;
            margin : 0;
            text-align: center;
            li{
                font-weight: 400 !important;
            }
        }
    }
}