@media only screen and (max-width: 1050px){
}
@media only screen and (max-width: 440px){
    
}
.footer{
    height: 10vh;
    display: flex; 
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    .footerText{
        border: 1px solid red;
        width: 100%;
        p{
            font-size: 14px;
        }
    }
    .footerLinks{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 200px;
        align-items: center;
        &:hover{
            cursor: pointer;
        }   
    }
}