@media only screen and (max-width: 1050px){
}
@media only screen and (max-width: 440px){
    
}
.footer{
    height: 10vh;
    display: flex; 
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    background-color: whitesmoke;
    .footerText{
        width: 100%;
        p{
            font-size: 14px;
        }
    }
    .footerLinks{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        width: 200px;
        align-items: center;
        li{
            &:hover{
                transform: scale(1.1);
            }
        }
        &:hover{
            cursor: pointer;
        }  
    }
}